{
  "presets": [
    ["@babel/preset-env", {
        "shippedProposals": true,
        "loose": true
    }]
  ],
  "plugins": [
    [
        "@babel/plugin-proposal-decorators",
        {
            "decoratorsBeforeExport": true
        }
    ],
    ["@babel/syntax-dynamic-import"],
    ["@babel/transform-runtime"]
]
}
