*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.app{
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
  background-color: #fafafa;
}

.main{
  min-height: calc(100vh - 50px);
  padding: 90px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signin-wrapper, .signup-wrapper{
  display: block;
  max-width: 350px;
  width: 100%;
}

.signin, .main__signup, .signup, .main__signin{
  border: 1px solid #dbdbdb;
  background-color: #fff;
  text-align: center;
}

.signin, .signup{
  padding: 50px;
  margin-bottom: 20px;
}
.main__signup, .main__signin{
  padding: 20px;
  display: flex;
  font-size: 14px;
  justify-content: center;
}

.signin__title, .signup__title{
  text-align: center;
  margin-bottom: 40px;
}
.signup__title-text{
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 500;
  max-width: 250px;
  width: 100%;
  margin: 0 auto 20px auto;
}
.signin__field, .signup__field{
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 9px;
  max-width: 250px;
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  color: #262626;
  border-radius: 4px;
  outline: none;
}
.signup__field.error, .signin__field.error{
  border: 1px solid #ed4956;
}
.signin__field::placeholder, .signup__field::placeholder{
  font-size: 11px;
}
.signin__field:focus, .signup__field:focus{
  border: 1px solid #5c5c5cbd;
}
.signin__field:focus.error, .signup__field:focus.error{
  border: 1px solid #ed4956;
}
.signin__submit, .signup__submit{
  color: #fff;
  background-color: #2299fa;
  max-width: 250px;
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 20px;
  outline: none;
}
.signin__submit:hover, .signup__submit:hover{
  cursor: pointer;
}
.signin__submit:active, .signup__submit:active{
  outline: none;
  background-color: #2299fab3;
}
.signin__submit:focus, .signup__submit:focus{
  outline: 2px solid #000;
}
.signin__text-wrapper, .signup__text-wrapper{
  max-width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.signin__text, .signup__text{
  color: #8e8e8e;
  font-size: 13px;
  line-height: 15px;
  position: relative;
  margin: 0 10px;
}
.signin__text-line, .signup__text-line{
  border-bottom: 1px solid #8e8e8e;
  width: 100%;
}
.signin__facebook, .signup__facebook{
  display: flex;
  justify-content: center;
  height: 30px;
  color: #385185;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin: 0 auto;
  cursor: pointer;
  padding: 5px;
  max-width: 250px;
  width: 100%;
}
.signup__facebook{
  margin-bottom: 20px;
  background-color: #2299fa;
  border-radius: 4px;
  color: #fff;
  fill: #000;
}
.signin__facebook:focus, .signup__facebook:focus{
  outline: 2px solid #000;
}
.signin__facebook-icon, .signup__facebook-icon{
  user-select: none;
  margin-right: 15px;
}
.signin__facebook-text{
  user-select: none;
}
.main__signup-text, .main__signin-text{
  margin-right: 10px;
}
.main__signup-link, .main__signin-link{
  color: #2299fa;
}
.main__signup-link:focus, .main__signin-link:focus{
  outline: 2px solid #000;
}
.signup__info{
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  color: #8e8e8e;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  font-weight: 500;
}

.signin__error{
  color: #ed4956;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}

.error-container{
  color: #ed4956;
  font-size: 12px;
  margin-bottom: 10px;
}

.not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.not-found__title{
  margin-bottom: 20px;
}
.not-found__link{
  color: rgb(6, 9, 175);
  text-decoration: underline;
}


.footer{
  height: 50px;
}
.footer__title{
  text-align: center;
  padding: 15px;
}

@media (max-width: 374px){
  .signin, .signup{
    padding: 50px 10px;
  }

  .main__signup{
    flex-direction: column;
  }
}