*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

body{
  scroll-behavior: smooth;
}

.app{
  min-height: 100vh;
  background-color: #fafafa;
}

.main{
  min-height: calc(100vh - 50px - 71px);
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 90px 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signin-wrapper, .signup-wrapper{
  display: block;
  max-width: 350px;
  width: 100%;
}

.signin, .main__signup, .signup, .main__signin{
  border: 1px solid #dbdbdb;
  background-color: #fff;
  text-align: center;
}

.signin, .signup{
  padding: 50px;
  margin-bottom: 20px;
}
.main__signup, .main__signin{
  padding: 20px;
  display: flex;
  font-size: 14px;
  justify-content: center;
}

.signin__title, .signup__title{
  text-align: center;
  margin-bottom: 40px;
}
.signup__title-text{
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 500;
  max-width: 250px;
  width: 100%;
  margin: 0 auto 20px auto;
}
.signin__field, .signup__field, .modal__field, .modal__area{
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  font-size: 16px;
  padding: 9px;
  max-width: 250px;
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  color: #262626;
  border-radius: 4px;
  outline: none;
  /* background: no-repeat bottom, 50% 100%;
  background-size: 0 100%, 100% 100%;
  background-image: linear-gradient(0deg, #64a2ff 2px, rgba(156, 39, 176, 0) 0); */

  &::placeholder{
    color: #fff;
  }
  &:focus{
    background-size: 100% 100%, 100% 100%;
    transition-duration: 0.3s;
    border: 1px solid #64a2ff;
  }
}
#editfile{
  font-size: 12px;
}
.modal__area{
  resize: vertical;
  min-height: 100px;
}
.signup__field.error, .signin__field.error{
  border: 1px solid #ed4956;
}
.signin__field::placeholder, .signup__field::placeholder{
  font-size: 11px;
}
.signin__field:focus.error, .signup__field:focus.error{
  border: 1px solid #ed4956;
}
.signin__submit, .signup__submit{
  color: #fff;
  background-color: #2299fa;
  max-width: 250px;
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 20px;
  outline: none;
}
.signin__submit:hover, .signup__submit:hover{
  cursor: pointer;
}
.signin__submit:active, .signup__submit:active{
  outline: none;
  background-color: #2299fab3;
}
.signin__submit:focus, .signup__submit:focus{
  outline: 2px solid #000;
}
.signin__text-wrapper, .signup__text-wrapper{
  max-width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.signin__text, .signup__text{
  color: #8e8e8e;
  font-size: 13px;
  line-height: 15px;
  position: relative;
  margin: 0 10px;
}
.signin__text-line, .signup__text-line{
  border-bottom: 1px solid #8e8e8e;
  width: 100%;
}
.signin__facebook, .signup__facebook{
  display: flex;
  justify-content: center;
  height: 30px;
  color: #385185;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin: 0 auto;
  cursor: pointer;
  padding: 5px;
  max-width: 250px;
  width: 100%;
}
.signup__facebook{
  margin-bottom: 20px;
  background-color: #2299fa;
  border-radius: 4px;
  color: #fff;
  fill: #000;
}
.signin__facebook:focus, .signup__facebook:focus{
  outline: 2px solid #000;
}
.signin__facebook-icon, .signup__facebook-icon{
  user-select: none;
  margin-right: 15px;
}
.signin__facebook-text{
  user-select: none;
}
.main__signup-text, .main__signin-text{
  margin-right: 10px;
}
.main__signup-link, .main__signin-link{
  color: #2299fa;
}
.main__signup-link:focus, .main__signin-link:focus{
  outline: 2px solid #000;
}
.signup__info{
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  color: #8e8e8e;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  font-weight: 500;
}

.signin__error{
  color: #ed4956;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
  opacity: 0;
  max-height: 0;
  transition: all .5s linear;
}
.signin__error.show{
  opacity: 1;
  max-height: 50px;
}

.error-container{
  color: #ed4956;
  font-size: 12px;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 5px;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s linear, opacity 1s linear;
  opacity: 0;
}

.error-container.show {
  max-height: 100px;
  opacity: 1;
}

.not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.not-found__title{
  margin-bottom: 20px;
}
.not-found__link{
  color: rgb(6, 9, 175);
  text-decoration: underline;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  min-height: 71px;
}
.logo{
  font-size: 25px;
  font-weight: 600;
  color: #000;
}

.nav__signin, .nav__signout{
  border: 1px solid #2299fa;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #2299fa;
}
.nav__signup{
  background-color: #2299fa;
  border: 1px solid #2299fa;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.nav__user{
  font-size: 25px;
  margin-right: 20px;
  font-weight: 700;
}

.home{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

.card{
  background-color: #fff;
  border: 1px solid #dbdbdb;
  padding: 30px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.card__body{
  flex: 1 0 auto;
}
.card__footer{
  flex: 0 0 auto;
}
.card__email{
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  white-space: nowrap;
}
.card__phone{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}
.card__username{
  color: #0774cc;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__age{
  margin-bottom: 5px;
}
.card__photo{
  /* width: 188px;
  height: 188px; */
  margin-bottom: 10px;
}
/* .card__description{
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
  border: none;
  outline: none;
} */
/* .card__description-title{
  font-weight: 600;
} */
.card__button{
  padding: 7px;
  margin-top: 10px;
  &:hover{
    cursor: pointer;
  }
}

.footer{
  height: 50px;
}
.footer__title{
  text-align: center;
  padding: 15px;
}

@media (max-width: 374px){
  .signin, .signup{
    padding: 50px 10px;
  }

  .main__signup{
    flex-direction: column;
  }
}

router-root{
  opacity: 0;
  transition: all .3s linear;
}

router-root.show{
  opacity: 1;
  transition: all .3s linear;
}




*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn{
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border: none;
}
.btn:focus{
  outline: 2px solid #000;
}

.btn-primary{
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-primary:active{
  background-color: #054cb6;;
}

.btn-secondary{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:active{
  background-color: #464c52;;
}
.modal{
  display: none;
  transition: all .3s linear;
}

.modal.open{
  opacity: 1;
  transition: all .3s linear;
}
.modal.hidden{
  opacity: 0;
  transition: all .3s linear;
}
.modal.show{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  z-index: 1;
}
.modal::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.219);
  z-index: -1;
}

.modal__dialog{
  width: 500px;
}
.modal__content{
  border-radius: 0.3rem;
  background-color: #fff;
  max-height: 97vh;
  overflow-y: auto;
}
.modal__header{
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  border-bottom: 1px solid #a8a8a8;
}
.modal__header-title{
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.modal__body{
  padding: 20px;
  border-bottom: 1px solid #a8a8a8;
  text-align: center;
  font-size: 1.1rem;
}
.modal__footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.mr{
  margin-right: 10px;
}

.form-item{
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 250px;
  width: 100%;
}
.radio-label{
  margin-bottom: 10px;
}

.form__radio-group, .form__color-group{
  font-size: 14px;
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 9px;
background-color: #fafafa;
  border: 1px solid #dbdbdb;
  color: #262626;
  border-radius: 4px;
  outline: none;
}

.modal__radio-item{
  margin-right: 20px;
}
.form__radio-group .text, .form__color-group .text{
  text-align: left;
  margin-bottom: 5px;
  font-weight: 500;
  color: #797979;
}

.field-label {
  position: absolute;
  font-size: 16px;
  color: #797979;
  left: 20px;
  top: 9px;
  transition: top 0.5s;
  cursor: text;
  transition: all 0.5s;
  user-select: none;
}

input:focus+label,
input:not(:placeholder-shown)+label,
textarea:focus+label,
textarea:not(:placeholder-shown)+label{
  top: -8px;
  font-size: 12px;
  background-color: #fff;
  padding: 0px 5px;
}





#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}